<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestVNPTInvoice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <TestVNPTInvoice.Properties.Settings>
            <setting name="TestVNPTInvoice_PublishService_PublishService"
                serializeAs="String">
                <value>https://1301097237-tt78cadmin.vnpt-invoice.com.vn/PublishService.asmx</value>
            </setting>
            <setting name="TestVNPTInvoice_PortalService_PortalService" serializeAs="String">
                <value>https://1301097237-tt78cadmin.vnpt-invoice.com.vn/PortalService.asmx</value>
            </setting>
        </TestVNPTInvoice.Properties.Settings>
    </applicationSettings>
</configuration>